@use "@/styles/variables" as *;
.icon {
  object-fit: contain;
  transition: transform 0.2s ease;
  width: 40px;
  height: 40px;
  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: $breakpoint-mobile) {
  .icon {
    width: 30px;
    height: 30px;
  }
}
