@use "src/styles/variables.scss" as *;

.card {
  display: flex;
  gap: 2rem;
  margin-top: 140px;
  margin-bottom: 20px;
  border-radius: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 100px;
  }
}

.imageContainer {
  flex: 1 1 55%;
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    max-width: 100%;
    order: 0;
  }

  .imageWrapper {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      left: -25px;
      right: -25px;
      bottom: -25px;
      border-radius: 50%; // круг
      background: radial-gradient(
        circle,
        rgba(209, 199, 199, 0.4) 0%,   // яркая часть у картинки
        rgba(196, 179, 179, 0.2) 50%,  // середина
        rgba(196, 179, 179, 0) 100%    // края полностью прозрачные
      );
      z-index: -1;
      filter: blur(20px); // мягкость свечения
    }

    .productImage {
      display: block;
      position: relative;
      z-index: 1;
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
      border-radius: 50%; // чтобы совпадало с ореолом
    }
  }
}



.headingContainer {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-top: 20px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collapsibleTrigger {
  display: flex;
  font-size: 16px;
  color: $white-color;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  position: relative;

  &::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  &.is-open::after {
    content: "▲";
    transform: translateY(-50%) rotate(180deg);
  }

  &.is-closed::after {
    content: "▼";
    transform: translateY(-50%);
  }
}

